body{
    background-color: rgb(10 7 7 / 95%);
}
*{
    margin: 0px;
    padding:0px;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.nav{
    display: flex;
    width: 99%;  /*debugging purposes*/
    justify-content: center;
    margin-top: 20px;
    background-color: #232324e0;
    border:0px;
    border-radius:8px;
    height: 58px;
    
   
    
}
.navbtn{
    padding: 20px;
    text-decoration: none;
    color: #a9a9a9a6;
}
.navbtn:hover{
    background-color: #363236c4;
}
.photo{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.pfp{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#pfp{
    height: 300px;
    width: 300px;
}
#name{
    margin-top: 20px;
    color: #cccccfe0;
    font-family: cursive;
}
#sk{
    height:150px;
    width: 225px;
    border: 1px;
    border-radius: 50ch;
    margin-top: 200px;
    padding: 60px;
    padding-bottom: 20px;
}
.about{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#ab{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #cccccfe0;
    font-family: cursive;
    padding: 20px;
}
#abdesc{
    display:flex ;
    justify-content: center;
    font-family: cursive;
    color: #a9a9a9a6;
    font-size: 14px;
    margin-left: 200px;
    margin-right: 200px;
}
