body{
    background-color: rgb(10 7 7 / 95%);
}
*{
    margin: 0px;
    padding:0px;
}
.container{
    display: flex;
    justify-content: center;
}
.nav{
    display: flex;
    width: 70%;
    justify-content: center;
    margin-top: 20px;
    background-color: #232324e0;
    border:0px;
    border-radius:1vh;
   
    
}
.navbtn{
    padding: 20px;
    text-decoration: none;
    color: #a9a9a9a6;
}
.navbtn:hover{
    background-color: #363236c4;
}